
@{
    ViewBag.Title = "Index";
}
<h2>Index of admin</h2>
@*<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>*@

<p> upload picture here</p>
<div id="statustxt">0%</div>

<input type="file" id="files" name="files[]" multiple />
<output id="list"></output>

<script>
    var imgNum = 0;
    var clicked = 0;
    var firstX = 0;
    var firstY = 0;
    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object


        // Loop through the FileList and render image files as thumbnails.
        for (var i = 0, f; f = files[i]; i++) {

            // Only process image files.
            if (!f.type.match('image.*')) {
                continue;
            }

            var reader = new FileReader();


            // Closure to capture the file information.
            reader.onload = (function(theFile) {
                return function(e) {
                    // Render thumbnail.
                    var span = document.createElement('div');
                    span.id = imgNum + "s";
                    span.addClass = "imageDiv";
                    span.innerHTML = ['<img class="imageShow" id="',imgNum,'" src="', e.target.result,
                        '" title="', escape(theFile.name), '"/>'].join('');
                    document.getElementById('list').insertBefore(span, null);
                    addHandeler(imgNum);
                    
                    imgNum += 1;

                };
            })(f);

            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
        }
    }

    document.getElementById('files').addEventListener('change', handleFileSelect, false);

    function addHandeler(id) {
        $("#" + id + 's').click(function (e) {
            var rect = 0;
            if (clicked ===0) {
                clicked = 1;

                firstX = e.pageX - $(this).position().left;
                firstY = e.pageY - $(this).position().top;
            }
            else {

                var x = e.pageX - $(this).position().left;
                var y = e.pageY - $(this).position().top;
                //var pos = $(this).position();
                //var width = $(this).outerWidth();

                var width = (x - firstX);
                var height = (y - firstY);
                
                var div = $('<div class="box">').css({
                    "left": firstX +'px',
                    "top": firstY + 'px',
                    "width": width,
                    "height":height
                });
                $("#" + id+'s').append(div);
                clicked = 0;
            }
        });
    }
    var _URL = window.URL || window.webkitURL;
    $("#files").on('change', function () {

        var file, img;
        if ((file = this.files[0])) {
            img = new Image();
            img.onload = function () {
                sendFile(file);
            };
            img.onerror = function () {
                alert("Not a valid file:" + file.type);
            };
            img.src = _URL.createObjectURL(file);
        }
    });

    function sendFile(file) {

        // Checking whether FormData is available in browser  
        if (window.FormData !== undefined) {  
  
            var fileUpload = $("#files").get(0);  
            var files = fileUpload.files;  
              
            // Create FormData object  
            var fileData = new FormData();  
  
            // Looping over all files and add it to FormData object  
            for (var i = 0; i < files.length; i++) {  
                fileData.append(files[i].name, files[i]);  
            }  
              
            // Adding one more key to FormData object  
            fileData.append('username', 'Manas');  
  
            $.ajax({  
                url: '/Admin/Home/UploadFiles',  
                type: "POST",  
                contentType: false, // Not to set any content header  
                processData: false, // Not to process data  
                data: fileData,
                xhr: function () {  // Custom XMLHttpRequest
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) { // Check if upload property exists
                        //update progressbar percent complete
                        $('#statustxt').text('0%');
                        // For handling the progress of the upload
                        myXhr.upload.addEventListener('progress', progressHandlingFunction, false);

                    }
                    return myXhr;
                }
                ,
                success: function (result) {  
                    alert(result);  
                },  
                error: function (err) {  
                    alert(err.statusText);  
                }  
            });  
        } else {  
            alert("FormData is not supported.");  
        } 
    }

    function progressHandlingFunction(e) {
        if (e.lengthComputable) {
            var percentage = Math.floor((e.loaded / e.total) * 100);
            //update progressbar percent complete
            $('#statustxt').text(percentage + '%');
            console.log("Value = " + e.loaded + " :: Max =" + e.total);
        }
    }
    /* 
    //face detection
    $(document)
        .ready(function() {
            $('#imgg')
                .faceDetection({
                    complete: function(faces) {
                        console.log(faces.length);
                        for (var iii = 0; iii < faces.length; iii++) {
                            var x = faces[iii].x;
                            var y = faces[iii].y;
                            var height = faces[iii].height;
                            var width = faces[iii].width;

                            var div = $('<div>').css({
                                
                                "left": x,
                                "top": y,
                                "height": height,
                                "width": width,
                                "border": "2px solid #000"
                            });
                            $(document.body).append(div);
                            console.log(x + " " + y +" "+ height+" "+ width);
                        }
                    }
                });
        });*/
</script>