
@{
    ViewBag.Title = "Index";
}
<h2>Index of admin</h2>

<a class="btn btn-lg btn-primary center-block home-button-link"
   href='@Url.Action("Upload", "Home")'
   style="width:14em; margin-top:1em; margin-bottom:1em;"
   v-on:mouseover="hrMouseOver"
   v-on:mouseleave="MouseLeave">
    Last opp bilder
</a>
<a class="btn btn-lg btn-primary center-block home-button-link"
   href='@Url.Action("Images", "Home")'
   style="width:14em; margin-top:1em; margin-bottom:1em;"
   v-on:mouseover="hrMouseOver"
   v-on:mouseleave="MouseLeave">
    Bilder
</a>
<a class="btn btn-lg btn-primary center-block home-button-link"
   href='@Url.Action("Index", "HRManagement")'
   style="width:14em; margin-top:1em; margin-bottom:1em;"
   v-on:mouseover="hrMouseOver"
   v-on:mouseleave="MouseLeave">
    Brukere
</a>