@{
    ViewBag.Title = "Index";
}
<h2>Last opp bilder</h2>
<h5> Her kan du velge bilder fra din datamaskin, tagg dem med personene de inneholder og laste dem opp til databasen</h5>
<h4> Dobbelklikk på et bilde for å legge til en tag</h4>
<hr/>

<btn id="buttonAll" class="btn btn-primary" style="display: none;" disabled><span class="glyphicon glyphicon-open"></span> Last opp alle</btn>
<br/>
<br/>
<input type="file" id="files" name="files[]" multiple/>
<output id="list"></output>

<script src="~/Scripts/Upload.min.js"></script>
