@model HandleErrorInfo

@{
    ViewBag.Title = "Låst ute";
}

<hgroup>
    <h1 class="text-danger">Låst ute.</h1>
    <h2 class="text-danger">
        Denne kontoen er for øyeblikket deaktivert. Kontakt systemansvarlig for flere detaljer.
    </h2>
</hgroup>