@model ButterflyFriends.Areas.Admin.Models.DonationModel
@{
    ViewBag.Title = "Donasjoner";
}
<div id="Modal"></div>
<div class="loader" hidden></div>
<h2 style="text-align: center;">Donasjonsoversikt</h2>

<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab" href="#Plans" class="Plans">
            <b>Donasjonsplaner</b>
        </a>
    </li>
    <li>
        <a data-toggle="tab" href="#Subscriptions" class="Subscriptions">
            <b>Abonnenter</b>
        </a>
    </li>
    <li>
        <a data-toggle="tab" href="#Donations" class="Donations">
            <b>Donasjoner</b>
        </a>
    </li>
</ul>
<div class="tab-content">
    <div id="Plans" class="tab-pane fade in active">
        <div class="input-group" id="PlanSearch">
            <input type="text" id="PlanSearchField" class="form-control max_width" placeholder="Søk etter plan navn, id eller mengde..."/>
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <button type="button" id="searchBtn" onclick="filterPlans()" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div id="updatePlans">
            @Html.Partial("_PlanListPartial", Model.Plans)
        </div>
    </div>
    <div id="Subscriptions" class="tab-pane fade">
        <div class="searchFilter">
            <div class="input-group" id="Search">
                <input type="text" id="SubSearchField" class="form-control max_width" placeholder="Søk med kunde ID..."/>
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <button type="button" id="searchBtn" onclick="filterSubscriptions()" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div id="updateSubscriptions">
            @Html.Partial("_SubscriptionListPartial", Model.Subscriptions)
        </div>
    </div>
    <div id="Donations" class="tab-pane fade">

        @*Searchfilter*@
        <div class="searchFilter">
            <div class="input-group Search">
                <input type="text" id="DonationsearchField" class="form-control max_width" placeholder="Søk etter navn eller email..."/>
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg" id="#dropDown">
                            <button type="button" id="#dropDown" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">

                                <form class="form-horizontal" role="form">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Sorter etter</label>
                                                <select class="form-control max_width" id="DonationSelected">
                                                    <option id="DonationDefault" value="0" selected>Navn</option>
                                                    <option value="1">Email</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-md-4" style="padding-top: 2%">
                                            <div id="DonationOrderFilter">
                                                <label class="radio-inline"><input type="radio" name="opt" value="ascending" checked>Stigende</label>
                                                <br/>
                                                <label class="radio-inline"><input type="radio" id="DonationOrderDefault" name="opt" value="descending">Synkende</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Telefonummer</label>
                                        <input id="DonationPhone" class="form-control max_width" type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Fødselsnummer</label>
                                        <input id="DonationBirthNumber" class="form-control max_width" type="text"/>
                                    </div>

                                </form>
                                <button id="Reset" class="btn btn-primary" style="float: right">Reset</button>
                            </div>
                        </div>
                        <button type="button" onclick="filterDonations()" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>

        </div>
        @*------------*@

        <div id="donationsUpdate">
            @Html.Partial("DonationListPartial", Model.Donations)
        </div>

    </div>

</div>

<script>

    $(document)
        .ajaxStart(function() {
            $(".loader").show();
        })
        .ajaxStop(function() {
            $(".loader").hide();
        });

    function filterDonations() {
        var formData = new FormData();
        formData.append('search', $('#DonationsearchField').val());
        formData.append('order', $('#DonationOrderFilter input:radio:checked').val());
        formData.append('filter', $("#DonationSelected option:selected").val());
        formData.append('DonationPhone', $('#DonationPhone').val());
        formData.append('DonationBirthNumber', $("#DonationBirthNumber").val());

        $.ajax({
            url: '/Admin/Donations/FilterDonations',
            type: 'POST',
            async: true,
            contentType: false,
            processData: false,
            data: formData,
            success: function(result) {
                $('#donationsUpdate').html(result);
            }
        });
    }

    $(document) //pager function
        .on("click",
            "#Pager a[href]",
            function() {
                var formData = new FormData();
                formData.append('search', $('#DonationsearchField').val());
                formData.append('order', $('#DonationOrderFilter input:radio:checked').val());
                formData.append('filter', $("#DonationSelected option:selected").val());
                formData.append('DonationPhone', $('#DonationPhone').val());
                formData.append('DonationBirthNumber', $("#DonationBirthNumber").val());

                $.ajax({
                    url: $(this).attr("href"),
                    type: 'POST',
                    async: true,
                    contentType: false,
                    processData: false,
                    data: formData,
                    cache: false,
                    success: function(result) {
                        $('#donationsUpdate').html(result);
                    }
                });
                return false;
            });

    //reset search filter
    $("#Reset")
        .on('click',
            function() {
                event.stopPropagation();
                $('#DonationsearchField').val('');
                $('#DonationPhone').val('');
                $("#DonationBirthNumber").val('');
                document.getElementById("DonationDefault").selected = "true";
                $("#DonationOrderDefault").prop("checked", true);
                $("#DonationDefaultRadio").prop("checked", true);
            });

    $(document)
        .on("click",
            "#planPager a[href]",
            function() {
                $.ajax({
                    url: $(this).attr("href"),
                    type: 'POST',
                    async: true,
                    contentType: false,
                    processData: false,
                    cache: false,
                    success: function(result) {
                        $('#updatePlans').html(result);
                    }
                });
                return false;
            });

    function filterSubscriptions() {
        var formData = new FormData();
        formData.append("search", $("#SubSearchField").val());
        //append search and filter
        $.ajax({
            url: '/Admin/Donations/SearchSubscriptions',
            type: 'POST',
            async: true,
            contentType: false,
            processData: false,
            data: formData,
            success: function(result) {
                $('#updateSubscriptions').html(result);
            }
        });
    }

    function filterPlans() { //search for plans
        var formData = new FormData();
        formData.append("search", $("#PlanSearchField").val());
        //append search and filter
        $.ajax({
            url: '/Admin/Donations/SearchPlans',
            type: 'POST',
            async: true,
            contentType: false,
            processData: false,
            data: formData,
            success: function(result) {
                $('#updatePlans').html(result);
            }
        });
    }
</script>