<h5 class="text-success">@ViewBag.Success</h5>
<h5 class="text-danger" style="white-space: pre-line">@ViewBag.Error</h5>

<script>
    function success() {
        if ("@ViewBag.Reset" == "true") {
            $('#form').trigger("reset");
            grecaptcha.reset();
            $('#submitBtn').attr('disabled', true);
            recaptchaCheck = false;
            terms = false;
        }
    }
</script>