<h5 class="text-success">@ViewBag.Success</h5>
<h5 class="text-danger">@ViewBag.Error</h5>

<script>
    function success() {
        if ("@ViewBag.Reset" == "true") {
            $('#form').trigger("reset");
        }
    }
</script>
