@model ButterflyFriends.Models.FrontPageModel
@{
    ViewBag.Title = "Home Page";
}

@if (!Model.Articles.Any())
{
    return;
}
 
@foreach (var article in Model.Articles)
{
    
    <div>
        
        <h3>
            <a href="@Url.Action("Article", "Home", new {id = article.Id, area = ""})">
                @Html.Raw(article.Header)
            </a>
        </h3>
    </div>

    <br/>
}