body {
    padding-top: 50px;
    background-color: #f5f5f5; /*f5f5f5 CECECE*/
        overflow-x: hidden !important;

}


#tag {
    background: url('../kids.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;

}

p,dd,dt,tr,th,h5,label,li{
    font-family: "Helvetica Neue",Arial,freesans,sans-serif;
    font-size: 16px;
    line-height: 1.625em;
}
.btn, input{
    font-family: "Helvetica Neue",Arial,freesans,sans-serif;
    font-size: 18px;
}

h4 {
      font-family: "Helvetica Neue",Arial,freesans,sans-serif;
    font-size: 18px;
    line-height: 1.625em;
}
h3 {
      font-family: "Helvetica Neue",Arial,freesans,sans-serif;
    font-size: 24px;
    line-height: 1.625em;
}
h2 {
      font-family: "Helvetica Neue",Arial,freesans,sans-serif;
    font-size: 30px;
    line-height: 1.625em;
}
h1 {
      font-family: "Helvetica Neue",Arial,freesans,sans-serif;
    font-size: 36px;
    line-height: 1.625em;
}
.form-control {
         font-family: "Helvetica Neue",Arial,freesans,sans-serif;
          font-size: 16px !important;
}
div,a {
     font-family: "Helvetica Neue",Arial,freesans,sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 7%;
    padding-right: 7%;
    overflow-x: hidden;

}

.bodyAdmin {
    margin-top: 80px;
    margin-bottom: 20px;
    background-color: #f5f5f5 !important;
    padding-top: 0px !important;
}


/* Set padding to keep content from hitting the edges */
.body-contentAdmin {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 0px;
    background-color: #ffffff;
    box-shadow: 8px 8px 20px #888888;
}

.statustxt {
    text-align: center
}
.statusText {
    text-align: center;
    margin-right: 60px;
}
.rightImageDiv {
    padding-top: 30px;
}
.mainDiv {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    background-color: white;
    margin-left: 12px;
    box-shadow: 8px 8px 20px #000000;
    border-radius: 5px 5px 5px 5px;
}

.side {
    margin-top: 50px;
    background-color: white;
    padding: 20px;
    margin-left: 860px;
    box-shadow: 5px 5px 20px #000000;
    position: fixed;
    width: 300px;
    border-radius: 15px 50px 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select{
    max-width: 280px;
}
.tagInput {
    max-width: 100% !important;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-inverse .navbar-text {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-inverse {
  background-color: #337ab7;/*337ab7, 00004d eller 3b5998*/
  border-color: #e6e6e6;
  font-size: 120%;
}

.b {
    margin-top: 15px;
    color: #e6e6e6;
}
.b:hover {
    color: white;
}
/*
a,
a:hover{
    color: white;
}*/

/*Modal css*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 550px;
  margin: 0px auto;
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  
}


.modal-header h3 {
  margin-top: 0;
  color: #426bf4;
}

.modal-body {
  margin: 20px 0;

  max-height: calc(100vh - 210px);
  overflow-x: hidden;
  overflow-y: auto;
  
    
}

.modal-default-button {
  float: right;
}

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/*---------------------*/

/*ajax loader*/
.loader
{
    background: black;
    position: absolute; /* or absolute */
    top: 50%;
    left: 50%;
    width: 50px;
	height: 50px;
	border: 8px solid #fff;
	border-right-color: transparent;
	border-radius: 50%;
    box-shadow: 0 0 25px 2px #000000;/*#eee;*/
    z-index: 999999;
}
.loader
{
  animation: spin 1s linear infinite;
}
@keyframes spin
{
  from { transform: rotate(0deg);   opacity: 0.2; }
  50%  { transform: rotate(180deg); opacity: 1.0; }
  to   { transform: rotate(360deg); opacity: 0.2; }
}
.loader-mask {
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  /*display: table;*/
  transition: opacity .15s ease;
}


/*--------------------------*/

.imageShow {
    position: relative;
    width: 750px;
    min-width: 750px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
   }

.thumbnailShow {
    border: 1px solid #000;
    box-shadow: 2px 2px 5px #000000;
    width:40px;
    margin: 0 auto;
    
}
.autoQuestion {
    width:40px;
    padding-top: 15px;
    padding-left: 15px;
}
.autoQuestionChild {
    width:40px;
    padding-left: 15px;
}
.autoEmailStyle {
    font-size: 85%;
    font-weight: lighter;
}
.autoLabel {
    margin-bottom: 0px;
    width: 100%;
    vertical-align: middle;
    

}   


.profileImageShow {
    position: relative;
    max-width: 300px;
    border: 1px solid #000;
    margin: 10px 5px 15px 35px;

   }
.select {
    position: absolute;
    background-color: white;
    border: 1px solid #000;
    width: 50px;
    height: 50px;

}
.imageDiv {
    position: relative;
}

.imgSpan {
    position: relative;
    min-width: 100%;
    
}

/*tagging box*/
.box{
            
                position: absolute !important;
                margin: 0 auto;
                display: inline-block;
                z-index: 500;
                border-width: 3px;
                border-color: grey;
                border-style:solid;
                border-radius: 10px;
                opacity: 0.5;
                -webkit-transition: opacity 0.5s ease-in-out;
                -moz-transition: opacity 0.5s ease-in-out;
                -ms-transition: opacity 0.5s ease-in-out;
                -o-transition: opacity 0.5s ease-in-out;
                
            }

            .box input
            {
                /*visibility: hidden;*/
                width: 100%; 
                position: absolute;
                bottom: 0;
                border-radius: 5px;
                background-color: white;
 
            }
            .box span {
                color: black;
                position: absolute;
                font-size: 20px;
                float: right;
                margin-right: 2px;
                cursor: pointer;
                
            }

            .box:hover
            {

                z-index: 999;
                opacity: 1;
                border-width: 4px;
            }
            /*
            .box:hover input
            {
                visibility: visible;
                z-index: 999;
                opacity: 1;
            }*/

         .showBox{
            
                position: absolute !important;
                margin: 0 auto;
                display: inline-block;
                z-index: 500;
                border-width: 3px;
                border-color: grey;
                border-style:solid;
                border-radius: 10px;
                opacity: 0;
                -webkit-transition: opacity 0.1s ease-in-out;
                -moz-transition: opacity 0.1s ease-in-out;
                -ms-transition: opacity 0.1s ease-in-out;
                -o-transition: opacity 0.1s ease-in-out;
                
            }

            .showBox input
            {
                /*visibility: hidden;*/
                width: 100%; 
                position: absolute;
                bottom: 0;
                border-radius: 5px;
 
            }
            .showBox span {
                color: black;
                position: absolute;
                font-size: 20px;
                float: right;
                margin-right: 2px;
                
            }

            .showBox:hover
            {

                z-index: 999;
                opacity: 1;
                border-width: 4px;
            }

.j {
    margin: 2px;
    float: left;
}

.listHeader {
    text-align: right;
}


.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}

ul.ui-autocomplete {
    z-index: 9999;
}

.requestFooter {
    height: 120px;
    margin-top: 10px;
    padding-bottom: 120px;
}

.article-column {
    border-right: 1px solid #B8B8B8;
    margin: 4em 0;
    text-decoration: none;

}
.separate {
    font-size: 1.5em; 
    display: block;
    height: 1.7em;
    margin: auto;
    margin-top: 3em;
    padding: 0em 7em 0em 7em;
    padding-top: 0.17em;
    text-align: center;
    color: #545454;
}
.writeButtons {
    padding-top: 20%;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
.visible {
  visibility: visible !important;
  opacity: 1 !important;
}

.publishButton {
    position: fixed;
    top: 9%;
    left: 1%;
    opacity: 0.8;
}
.deleteButton {
    position: fixed;
    top: 14.5%;
    left: 1%;
    opacity: 0.8;
}
.changeNameButton {
    position: fixed;
    top: 20%;
    left: 1%;
    opacity: 0.8;
}
.articleInstructionBtn {
    position: fixed;
    top: 30.7%;
    left: 1%;
    opacity: 0.8;
    border-radius: 50%;
    display: block;
}
.saveButton {
    position: fixed;
    top: 25.5%;
    left: 1%;
    opacity: 0.8;
}
/*
.ms-trigger {
    visibility: hidden;
}*/

.article_display {
    border: 2px solid black;
    padding-left: 10px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}
.article_display:hover {
    border: 2px solid black;
    padding-left: 10px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    z-index: 99999 !important;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.3);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.3);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.3);
    transition: all 200ms ease-in;
    transform: scale(1.3);
}
.article_show_encapsule {
    /*background-color: #C8C8C8;*/
    /*padding-top: 1.5%;*/
    /*border-radius: 10px;*/
}
/*Search dropdown*/

.searchFilter .dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.searchFilter .input-group-btn .btn-group {
    display: flex !important;
    z-index: 4;
}
.searchFilter .btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.searchFilter .btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.searchFilter .btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.searchFilter .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.searchFilter .form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    .Search {
        width: 100%;
        margin: 0 auto;
    }
    .searchFilter .dropdown.dropdown-lg {
        position: static !important;
    }
    .searchFilter .dropdown.dropdown-lg .dropdown-menu {
        min-width: 554px;
    }
}

.max_width {
    max-width: 100% !important;
    height: 39px;
}

.solidBorder {
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;

}

/*Image modal*/
.ModalImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0.3%;
    border: 2px solid black;

}
.ModalImg:before {
    opacity: 0;
}
.ModalImg:after {

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    opacity: 1;
}
.ModalImg:hover {
    /*opacity: 0.7;*/   
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}


/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1400px
}

.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1400px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    overflow-y: auto;
}

.modal-content, .caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.2s;
    animation-name: zoom;
    animation-duration: 0.2s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 55px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.leftArrow {
    position: absolute;
    top: 50%;
    right: 96%;
    color: gray;
    transition: 0.3s;
    font-size: 4em;
}

.rightArrow {
    position: absolute;
    top: 50%;
    right: 35px;
    color: gray;
    font-weight: bold;
    transition: 0.3s;
    font-size: 100px ;


}
.rightArrow:hover,
.rightArrow:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.leftArrow:hover,
.leftArrow:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.captionArea {
    overflow-x: hidden;
}
.updateImageBtn {
    float: right;
    margin-right: 5%;
    margin-top: 2px;
}

.articlePublishedImage {
    max-width: 700px;
    box-shadow: 8px 8px 20px #000000;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid black;
}
.articleHeader {
    text-align: center;
}
.frontPageDiv {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 8px 8px 20px #000000;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
}
.articleRow {
    margin-top: 200px;
}
.frontPageBottom {
    padding: 20px;
    background-color: #f5f5f5;
    margin-top: 250px;
    /*       border-width: 2px 0px 2px 0px;
               border-style: solid;*/

    /*box-shadow: 5px 5px 20px 4px #000000;
        border: 1px solid black;*/
}
.articleContainer {
    margin-top: 900px !important;
}

.bottom {
    padding: 20px;
    margin-top: 50px;
    position: relative;
    bottom: 0px;
    margin-left: 12px;
    background-color: #ffffff;
    box-shadow: 5px 5px 20px #000000;
    border: 1px solid black;

}
.articlePreamble {
    
}

.requetDiv {
    min-height: 500px;
    margin-left: 20px;
    margin-top: 8%;
        border: 2px solid black !important;
            white-space:pre-line;


}
.donateDiv {
        min-height: 500px;
        margin-right: 20px;
            margin-top: 8%;
        border: 2px solid black !important;
       /* white-space:pre-line;*/


}
.AboutText {
    border: 2px solid gray;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;

    white-space:pre-line;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


.Amount {
        width: 200px !important;
                display: initial !important;

}
.DonateContact {

        display: initial !important;
        margin-top: 2px;

}
.DonateContactLabel {

    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;


}