body {
    padding-top: 50px;
    background-color: transparent;
}


#tag {
    background: url('../kids.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {

}
.statustxt {
    text-align: center
}
.rightImageDiv {
    padding-top: 30px;
}
.mainDiv {
    padding: 20px;
    margin-top: 50px;
    background-color: white;
    margin-left: 12px;
    box-shadow: 8px 8px 20px #000000;
    border-radius: 5px 5px 5px 5px;
}
.bottom {
    padding: 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 5px 5px 20px #000000;
    border-radius: 15px 15px 0px 0px;

}

.side {
    margin-top: 50px;
    background-color: white;
    padding: 20px;
    margin-left: 860px;
    box-shadow: 5px 5px 20px #000000;
    position: fixed;
    width: 300px;
    border-radius: 15px 50px 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.navbar-inverse .navbar-brand {
  color: #e6e6e6;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-inverse .navbar-text {
  color: #e6e6e6;
}

.navbar-inverse .navbar-nav > li > a {
  color: #e6e6e6;
}

.navbar-inverse {
  background-color: #00004d;
  border-color: #00061a;
  font-size: 120%;
}

.b {
    margin-top: 15px;
    color: #e6e6e6;
}
.b:hover {
    color: white;
}
/*
a,
a:hover{
    color: white;
}*/

/*Modal css*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 550px;
  margin: 0px auto;
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  
}


.modal-header h3 {
  margin-top: 0;
  color: #426bf4;
}

.modal-body {
  margin: 20px 0;

  max-height: calc(100vh - 210px);
  overflow-x: hidden;
  overflow-y: auto;
  
    
}

.modal-default-button {
  float: right;
}

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*---------------------*/

/*ajax loader*/
.loader
{
    background: black;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    width: 50px;
	height: 50px;
	border: 8px solid #fff;
	border-right-color: transparent;
	border-radius: 50%;
	box-shadow: 0 0 25px 2px #eee;
    z-index: 999;
}
.loader
{
  animation: spin 1s linear infinite;
}
@keyframes spin
{
  from { transform: rotate(0deg);   opacity: 0.2; }
  50%  { transform: rotate(180deg); opacity: 1.0; }
  to   { transform: rotate(360deg); opacity: 0.2; }
}
.loader-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .1s ease;
}
/*--------------------------*/

.imageShow {
    position: relative;
    width: 750px;
    min-width: 750px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
   }

.select {
    position: absolute;
    background-color: white;
    border: 1px solid #000;
    width: 50px;
    height: 50px;

}
.imageDiv {
    position: relative;
}

.imgSpan {
    position: relative;
    min-width: 100%;
    
}

/*tagging box*/
.box{
            
                position: absolute !important;
                margin: 0 auto;
                display: inline-block;
                z-index: 500;
                border-width: 3px;
                border-color: grey;
                border-style:solid;
                border-radius: 10px;
                opacity: 0.5;
                -webkit-transition: opacity 0.5s ease-in-out;
                -moz-transition: opacity 0.5s ease-in-out;
                -ms-transition: opacity 0.5s ease-in-out;
                -o-transition: opacity 0.5s ease-in-out;
                
            }

            .box input
            {
                /*visibility: hidden;*/
                width: 100%; 
                position: absolute;
                bottom: 0;
                border-radius: 5px;
                background-color: white;
 
            }
            .box span {
                color: black;
                position: absolute;
                font-size: 20px;
                float: right;
                margin-right: 2px;
                
            }

            .box:hover
            {

                z-index: 999;
                opacity: 1;
                border-width: 4px;
            }
            /*
            .box:hover input
            {
                visibility: visible;
                z-index: 999;
                opacity: 1;
            }*/
         .showBox{
            
                position: absolute !important;
                margin: 0 auto;
                display: inline-block;
                z-index: 500;
                border-width: 3px;
                border-color: grey;
                border-style:solid;
                border-radius: 10px;
                opacity: 0;
                -webkit-transition: opacity 0.1s ease-in-out;
                -moz-transition: opacity 0.1s ease-in-out;
                -ms-transition: opacity 0.1s ease-in-out;
                -o-transition: opacity 0.1s ease-in-out;
                
            }

            .showBox input
            {
                /*visibility: hidden;*/
                width: 100%; 
                position: absolute;
                bottom: 0;
                border-radius: 5px;
 
            }
            .showBox span {
                color: black;
                position: absolute;
                font-size: 20px;
                float: right;
                margin-right: 2px;
                
            }

            .showBox:hover
            {

                z-index: 999;
                opacity: 1;
                border-width: 4px;
            }

.suggestionBox {
    display:none;
    background-color:white;
    color: #3b3835;
    border: 1px solid rgba(0,0,0,0.3);
    border-top: 0;
    float: left;
    left: 0;
    list-style: none;
    margin: 20px;
    padding: 8px;
    position: absolute;
    top: 31px;
    width: 180px;
    z-index: 1000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);  
}