@{
    ViewBag.Title = "Email";
}

<div class="row">
    <div class="col-md-2">
        <br/>
        <a id="sendBtn" class="btn btn-lg btn-primary center-block home-button-link">
            Send <i class="fa fa-telegram" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col-md-10">
        <h2 style="margin-left: 25%;">Send email til brukere</h2>
    </div>
</div>
<h5 id="success" class="text-success statusText"></h5>
<h5 id="error" class="text-danger statusText"></h5>
<div class="loader" style="top: 50% !important;" hidden></div>

<div id="editor" placeholder="Skriv en email..."></div>

<script type="x/template" id="send-modal-template">
    <div class="modal-mask" v-on:click="close" v-show="show" transition="modal">
        <div class="modal-wrapper">
            <div class="modal-container" v-on:click.stop>

                <div class="modal-header">
                    <slot name="header">
                    </slot>
                </div>

                <div class="modal-body">
                    <slot name="body">
                        
                    </slot>
                </div>
                <div class="modal-footer">
                    <slot name="footer">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-3">
                                <button class="btn btn-success" v-on:click="submit">Ja <i class="fa fa-check-square" aria-hidden="true"></i></button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-danger" v-on:click="close">Nei <i class="fa fa-minus-square" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        
                    </slot>
                </div>
            </div>
        </div>
    </div>
</script>

<div id="sendPrompt">

    <modal :show.sync="showModal">

        <h3 slot="header" style="text-align: center;">Er emailen klar for å sendes?</h3>
        <h5 slot="body">
            <p id="subjectError" class="text-danger statusText"></p>
            <div class="form-group">
                <div class="col-md-2"></div>

                <div class="col-md-10">
                    <input id="emailSubject" placeholder="Emne" class="form-control" required>
                </div>
            </div>
        </h5>
    </modal>
</div>
<script>
    var res;

    $(function() {
        res = $('#recipients')
            .magicSuggest({
                selectionRenderer: function(data) {
                    if (typeof data.fullname !== 'undefined') {
                        return data.fullname + " (" + data.id + ")";
                    } else {
                        return data.id;
                    }
                },
                renderer: function(data) {
                    console.log(data);
                    return '<div style="padding: 5px; overflow:hidden;">' +
                        '<div style="float: left;"><img src="../FileAdmin?id=' +
                        data.imgid +
                        '" class="thumbnailShow"></div>' +
                        '<div style="float: left; margin-left: 5px">' +
                        '<div style="font-weight: bold; color: #333; font-size: 10px; line-height: 11px">' +
                        data.fullname +
                        '</div>' +
                        '<div style="color: #999; font-size: 9px">' +
                        data.id +
                        '</div>' +
                        '</div>' +
                        '</div><div style="clear:both;"></div>';
                },
                selectionStacked: true,
                selectionPosition: 'bottom',
                placeholder: 'Skriv inn navn og velg motakere',
                allowFreeEntries: true,
                highlight: true,
                typeDelay: 0,
                minChars: 2,
                maxSelection: null,
                data: '/Admin/PR/GetUsers'
            });
        $(res)
            .on('selectionchange',
                function(e, cb, s) {
                    var selected = (this.getSelection()[this.getSelection().length - 1]);
                    if (typeof selected.email == 'undefined') {
                        var regTest = /[^\s@@]+@@[^\s@@]+\.[^\s@@]+/;
                        if (!regTest.test(selected.name)) {
                            this.removeFromSelection(selected, true);
                            $("#resError").text("Mottaker må være en gyldig emailadresse");
                            $("#resError").removeClass("fadeOut");
                            setTimeout(function() {
                                    $("#resError").addClass("fadeOut");
                                },
                                500);
                        }
                    }

                }
            );
    });

    Vue.component('modal',
    {
        template: '#send-modal-template',
        props: {
            show: {
                type: Boolean,
                required: true,
                twoWay: true
            }
        },
        methods: {
            close: function() {
                this.show = false;
            },
            submit: function() {
                if ($("#emailSubject").val() !== "") {
                    sendEmail();
                    this.show = false;
                } else {
                    $("#subjectError").text("Emnefeltet kan ikke være tomt");
                }
            }
        },
        ready: function() {
            document.addEventListener("keydown",
                (e) => {
                    if (this.show && e.keyCode == 27) {

                        this.close();
                    } else if (this.show && e.keyCode == 13) {
                        this.submit();
                    }


                });
        }
    });

    var v = new Vue({
        el: '#sendPrompt',
        data: {
            showModal: false
        }
    });

    $('#editor')
        .trumbowyg({
            lang: 'no_nb',
            btnsDef: {
                // Customizables dropdowns
                image: {
                    dropdown: ['insertImage', 'upload', 'noembed'],
                    ico: 'insertImage'
                }

            },
            btns: [
                ['undo', 'redo'],
                ['formatting'],
                'btnGrp-design',
                ['link'],
                ['image'],
                'btnGrp-justify',
                'btnGrp-lists',
                ['foreColor', 'backColor'],
                ['preformatted'],
                ['horizontalRule'],
                ['fullscreen']
            ],
            plugins: {
                // Add imagur parameters to upload plugin
                upload: {
                    serverPath: 'https://api.imgur.com/3/image',
                    fileFieldName: 'image',
                    headers: {
                        'Authorization': 'Client-ID 9e57cb1c4791cea'
                    },
                    urlPropertyName: 'data.link'
                }
            }
        });

    function sendEmail() {
        var formData = new FormData();
        var htmlContent = $('#editor').trumbowyg('html');
        formData.append('html', htmlContent);
        formData.append('subject', $("#emailSubject").val());
        var sponsorCheck = $('#sponsorCheck').is(":checked");
        var employeeCheck = $('#employeeCheck').is(":checked");
        var selection = res.getSelection();
        var recipients = [];
        var fileUpload = $("#files").get(0);
        var files = fileUpload.files;

        for (var i = 0; i < files.length; i++) {
            formData.append(files[i].name, files[i]);
        }

        if (sponsorCheck && employeeCheck) {
            formData.append('allsponsors', 'true');
            formData.append('allemployees', 'true');
            for (var i = 0; i < selection.length; i++) {
                if (typeof selection[i].employee == 'undefined') {
                    recipients.push(selection[i].id);
                }
            }
            formData.append('recipients', recipients);
        } else if (sponsorCheck) {
            formData.append('allsponsors', 'true');
            for (var i = 0; i < selection.length; i++) {
                if (typeof selection[i].employee == 'undefined' || selection[i].employee) {
                    recipients.push(selection[i].id);
                }
            }
            formData.append('recipients', recipients);
        } else if (employeeCheck) {
            formData.append('allemployees', 'true');
            for (var i = 0; i < selection.length; i++) {
                if (typeof selection[i].employee == 'undefined' || !selection[i].employee) {
                    recipients.push(selection[i].id);
                }
            }
            formData.append('recipients', recipients);
        } else {
            if (res.getValue().length === 0) {
                $("#error").text("Emailen må ha minst en mottaker");
                return;
            }
            formData.append('recipients', res.getValue());
        }
        $(".loader").show();
        $.ajax({
            url: '/Admin/PR/SendEmail',
            async: true,
            contentType: false,
            processData: false,
            type: "POST",
            data: formData,
            success: function(result) {
                if (result.error == true) {
                    $("#error").text(result.message);
                    $("#success").text("");
                } else if (result.success == true) {
                    $("#success").text(result.message);
                    $("#success").removeClass("fadeOut");
                    setTimeout(function() {
                            $("#success").addClass("fadeOut");
                        },
                        2000);
                    $("#error").text("");
                }

            },
            error: function(err) {
                $("#error").text(err.statusText);
                $("#success").text("");
            },
            complete: function() {
                $(".loader").hide();
            }
        });
    }

    $("#sendBtn")
        .on('click',
            function() {
                v.showModal = true;
            });
</script>