@model ButterflyFriends.Areas.Admin.Models.HRManagamentModel
@{

}
<div id="Modal"></div>

<h3>Brukeradministrasjon</h3>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Employees" class="Employees"><b>Ansatte</b></a></li>
    <li><a data-toggle="tab" href="#Sponsors" class="Sponsors"><b>Faddere</b></a></li>
    <li><a data-toggle="tab" href="#Children" class="Children"><b>Fadderbarn</b></a></li>
</ul>

<div class="tab-content">
    <div id="Employees" class="tab-pane fade in active">
        <div id="updateEmployees">
            @Html.Partial("ListPartials/_EmployeePartial",Model.EmployeeModel,new ViewDataDictionary { { "","" }})
        </div>
    </div>
    <div id="Sponsors" class="tab-pane fade">

        <div id="updateSponsors">
            @Html.Partial("ListPartials/_SponsorPartial")
        </div>
    </div>
    <div id="Children" class="tab-pane fade">
        <div id="updateChildren">
            @Html.Partial("ListPartials/_ChildrenPartial",Model.ChildrenModel)
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".loader").hide();
        $(".loader-mask").hide();
        $(document).ajaxStart(function () {
            $(".loader").show();
            $(".loader-mask").show();
        }).ajaxStop(function () {
            $(".loader").hide();
            //$(".loader-mask").hide();
        });
        
        $(document).on("click", "#employeePager a[href]", function () {
            $.ajax({
                url: $(this).attr("href"),
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#updateEmployees').html(result);
                }
            });
            return false;
        });

        $(document).on("click", "#childrenPager a[href]", function () {
            $.ajax({
                url: $(this).attr("href"),
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#updateChildren').html(result);
                }
            });
            return false;
        });
    });


</script>
